<header class="index_top_container">
	<div class="container text-center">
		<div class="row">
	        <div class="col-md-12">
	            <div class="top_HY_container">
	            	HUNG-YOU          
	            </div>
	    	</div>
    	</div>
    	<div class="row">
	        <div class="col-md-12">
	            <div class="top_1998_container">
	            	<h2 class="no-background"><span>since 1998</span></h2>
	            </div>
	    	</div>   	  	
    	</div>	
    	<div class="row" style="margin-top: 40px;">
	        <div class="col-md-12">
				<div class="top_arrow_container">
					<a href="#index_middle_section"><%= image_tag 'arrow_down.png', class: 'arrow_down' %></a>
				</div>	
	    	</div>   	  	
    	</div>					    	
    </div>
</header>
<%=render "script" %>