<div class="container">
<div class="row">
	<div class="col-sm-offset-2 col-sm-10">
		<h1>編輯工作</h1>
	</div>
</div>
<%= render 'form' %>
<div class="row">
	<div class="col-sm-offset-2 col-sm-10">
		<%= link_to '回工作列表', jobs_path %>
	</div>
</div>
</div>
