<nav class="navbar navbar-default navbar-fixed-top menu">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>    	
      <a class="navbar-brand" href="#">鴻佑科技</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav navbar-right">
        <li class="page-scroll"><a href="#section_about">關於鴻佑</a></li>
        <li class="page-scroll"><a href="#section_projects">工程實績</a></li>        
        <li class="page-scroll"><a href="#section_business">營業項目</a></li>
        <li class="page-scroll"><a href="#">工作機會</a></li>
        <li class="page-scroll"><a href="#">聯絡我們</a></li>        
      </ul>
    </div>
  </div>
</nav>
<script>
(function ($) {
  $(document).ready(function(){   
	// hide .navbar first
	$(".navbar").hide();	
	// fade in .navbar
	$(function () {
		$(window).scroll(function () {
            // set distance user needs to scroll before we fadeIn navbar
			if ($(this).scrollTop() > 100) {
				$('.navbar').fadeIn();
			} else {
				$('.navbar').fadeOut();
			}
		});
		
	    $('body').on('click', '.page-scroll a', function(event) {
	        var $anchor = $(this);
	        $('html, body').stop().animate({
	            scrollTop: $($anchor.attr('href')).offset().top
	        }, 1000);
	        event.preventDefault();
	    });		
	});
});
}(jQuery));
</script> 